* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  font-family: 'Open Sans', sans-serif;
}

#header {
  background-color: white;
  padding: 20px 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1000px;
  margin:auto;
  padding: 0px 20px;
}

#header a {
  display: block;
  padding: 10px;
  color: rgb(43, 1, 51);
  text-decoration: none;
  
}

#header ul {
  list-style-type: none;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav a:hover,
#header nav a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

#header .active a {
  background-color: rgba(0, 0, 0, 0.1);
}

#header .categories {
  display: flex;
}

#header .logo {
  font-size: 2em;
  padding: 0px;
}



#books-section,
#book-detail,
#page-not-found {
  margin: 50px 0px;
}

.section-title {
  padding: 20px 0px;
}

#books-section .book {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#books-section .books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

#books-section .book-image img{
  width: 100%;
  height: 200px;
}

#books-section .book-info {
  padding: 10px;
}

#book-section .book-title {
  padding-bottom: 10px;
}

#book-section .book-author {
  padding-bottom: 5px;
}

.btn {
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0px;
  opacity: 0.9;
}

.btn:hover,
.btn:focus {
  opacity: 1;
}

.btn-highlight {
  background-color: blueviolet;
  color: white;
}

#book-detail .book-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#book-detail  .book-title {
  padding-bottom: 15px;
}

#book-detail  .book-author {
  padding-bottom: 10px;
}

#book-detail  .book-review-container {
  display:flex;
  font-size: 1.2em;
  justify-content: flex-end;
}

#book-detail  .book-review-container .book-stars {
  color: rgb(199, 199, 33);
}

#book-detail .book-review-container .book-review {
  margin: 5px;
}


#footer {
  background-color: blueviolet;
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding: 20px;
}